/* axis */

.axis { /* axis labels */
    fill: #808080;
    font-family: sans-serif;
    font-size: 10px;
}

.axis line{ /* axis tick marks */
    stroke-width : 1;
    stroke: grey;
    shape-rendering: crispEdges;
}

.axis path { /* axis line */
    stroke-width : 1;
    stroke: grey;
    shape-rendering: crispEdges;
}

/* timeline band */

.band { /* band background */
    fill: white;
}

/* labels */

.bandLabel {
    fill: #F0F0F0;
    font: 10px sans-serif;
    font-weight: bold;
}

.bandMinMaxLabel {
    fill: blue;
    font: 10px sans-serif;
    font-weight: bold;
}

.bandMidLabel {
    fill: red;
    font: 10px sans-serif;
    font-style: italic;
    font-weight: bold;
}

/* brush */

.brush .extent {
    stroke: gray;
    fill: blue;
    fill-opacity: .1;
}

.chart {
    fill: #EEEEEE;
}

.interval {
    /*border-radius: 25px;*/
    /*fill: #FFF2BB;
*/    stroke-width: 6;
    cursor : default;
    pointer-events: true;
}

.instant {
    /*fill: #ED4848;*/
    stroke-width: 6;
    cursor : default;
    /*pointer-events: true;*/
}

.instantLabel {
    fill : blue;
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.intervalLabel {
    fill : black;
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.item {
    cursor : default;
    pointer-events: auto;
}

.svg {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #FFFFFF;
}

/*.tooltipz {
    width: auto;
    position: absolute;
    visibility: hidden;
    color : black;
    cursor:default;
    background-color: lightsteelblue;
    border: 1px solid;s
    padding: 4px;
    shape-rendering: crispEdges;
    pointer-events: none;
}*/

.tooltipz {
    position: absolute;  
    cursor:default;       
    text-align: center;
    visibility: hidden;       
    width: auto;                    
    height: auto;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;
    shape-rendering: crispEdges;
}